body {
	font-family: 'Helvetica', sans-serif;
}
h2 {
	font-family: 'Archivo', sans-serif;
	font-size: 20px;
}
p {
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
}
/*
Navigation
*/
.topnav {
    list-style-type: none;
    overflow: hidden;
		margin:0;
		padding:0;
		background-color: #15B407;
}
.topnav a {
	color: white;
	padding: 16px;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Archivo', sans-serif;
}
.topnav a:hover:not(.active) {
	background-color: #54C84A;
}
.active {
	border-bottom: 4px solid white;
}
.secondary-nav {
	float: right;
}
.home-link {
	float: left;
}
/*
Inputs
*/
input {
	border: 1px solid #333333;
	width: 400px;
	font-size: 16px;
	font-family: 'Helvetica', sans-serif;
	margin: 8px;
	padding: 8px;
}
/*
Button
*/
.default-button {
	background-color: #15B407;
    border: none;
    color: white;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}
