body {
	font-family: 'Source Sans Pro', sans-serif;
}
h2 {
	font-family: 'Archivo', sans-serif;
	font-size: 24px;
}
p {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}
.default-button {
	background-color: #15B407;
    border: none;
    color: white;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}
.topnav {
	overflow: hidden;
    background-color: #15B407;
    font-family: 'Archivo', sans-serif;
}
.topnav a {
	color: white;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	font-size: 24px;
}
.topnav a:hover {
  background-color: #54C84A;
}
.topnav a.active {
	border-bottom: 1px white;
	color: white;
}
.home {
	float: left;
	padding: 10px 16px;
}
.secondary-nav {
	float: right;
}