<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="ryr-email-templatizer">
  <!-- Third party libraries. -->
  <script type="text/javascript" src="../lib/js/markup.js"></script>
  <script type="text/javascript" src="../bower_components/showdown/dist/showdown.js"></script>

  <!-- Web component class. -->
  <script>
    class RyrEmailTemplatizer extends Polymer.Element {
      static get is() {
        return 'ryr-email-templatizer';
      }

      static get properties() {
        return {
          templatevars: {
            type: Object,
            value: {},
            observer: '_handleTemplateChange'
          },
          htmlrenderedtemplate: {
            type: String,
            notify: true
          },
          markdownrenderedtemplate: {
            type: String,
            notify: true
          }
        };
      }

      _renderTemplate(templateVars) {
        let template =
          `
          Dear city of Austin,

I would like to request a bike rack at {{Address}}, Geolocation  {{rackLocation}}.

The business supporting this demand is {{businessName}}, located at {{businessAddress}}.

{{if contactName}}
    The point of contact is {{contactName | blank>_not provided_}} 
    {{if contactPhone}} 
        and can be contacted via phone ({{contactPhone}}) 
    {{/if}}
    {{if contactEmail}}
        or email ({{contactEmail | blank>_not provided_}}).
    {{/if}}
{{/if}}

{{if parkingInfo}}Current parking situation: {{parkingInfo | blank>_not provided_}}{{/if}}

{{extraInfo | blank>}}

Cheers,
Request Yo Racks Team

        `;

        let options = {
          compact: true
        };
        Mark.compact = true;
        let templatized = Mark.up(template, this.templatevars, options);
        return templatized;
      }

      _markdown2html(markdown) {
        let converter = new showdown.Converter()
        let htmlRendered = converter.makeHtml(markdown);
        return htmlRendered;
      }

      _handleTemplateChange() {
        if (this.templatevars == null) {
          return;
        }
        if (Object.keys(this.templatevars).length == 0) {
          this.htmlrenderedtemplate = '';
        } else {
          let convertedVars = this.templateVars
          if (this.templatevars.result != null) {
            res = this.templatevars.result;
            businessName = res.name;
            businessAddress = res.formatted_address;
            contactPhone = res.formatted_phone_number;
            convertedVars = {
              rackLocation: rackLocation,
              businessName: businessName,
              businessAddress: businessAddress,
              contactName: contactName,
              contactPhone: contactPhone,
              contactEmail: contactEmail,
              parkingInfo: parkingInfo,
              extraInfo: extraInfo
            };
          }

          let renderedTemplate = this._renderTemplate(convertedVars);

          this.markdownrenderedtemplate = renderedTemplate.replace(/^\s*[\r\n]/gm, '\n').replace(/^\s+|\s+$/g, '');

          this.htmlrenderedtemplate = this._markdown2html(renderedTemplate);
        }
      }
    }

    window.customElements.define(RyrEmailTemplatizer.is, RyrEmailTemplatizer);

  </script>
</dom-module>
